/* ==========================================================================
   Add Project window styles
   ========================================================================== */
.add-wrap {
	width: 360px;
	background: #eff3f7;
	margin-bottom: 50px;
	border-radius: 5px;
	overflow: inherit;
	-webkit-box-shadow: 0px 0px 18px 0px rgba(64,64,64,0.75);
	-moz-box-shadow: 0px 0px 18px 0px rgba(64,64,64,0.75);
	box-shadow: 0px 0px 18px 0px rgba(64,64,64,0.75);
}

.add {
	padding: 0 20px 1px;
}

.add-wrap .add-title {
	position: relative;
	font-size: 1.6em;
	margin-top: 0;
	margin-bottom: 20px;
	padding-left: .5em;
	border-radius: 5px 5px 0 0;
	color: #eff3f7;
	text-align: left;
	font-weight: normal;
	background: #48cbe8;
	border-bottom: 10px solid #51daf8;
}

.add-title .add-close {
	display: block;
	position: absolute;
	right: 12px;
	top: 8px;
	text-indent: -9999px;
}

.sprite-close {
	width: 25px;
	height: 25px;
	background-position: -5px -5px;
}

.add .wrap-submit-button {
	text-align: center;
	margin-bottom: 30px;
}

/*	==========================================================================
	File upload ver.1  НЕ ИСПОЛЬЗУЮТСЯ!
	========================================================================== */
.input-upload {
	margin-bottom: 20px;
}

.input-upload .form-upload {
	float: left;
	cursor: pointer;
	height: 44px;
	background-color: #FFF;
	margin-right: -50px; /*минус ширина кнопки*/
}

.input-upload .input-upload-btn {
	background: #48cbe8 url("../img/upload-icon.png") no-repeat scroll 10px 9px;
	float: right;
	width: 50px;
	height: 44px;
}

.input-upload .input-wrap {
	height: 44px;
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #48cbe8;
}

.input-upload .input-hide {
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	font-size: 150px;
}
/*стили для поля загрузки картинки end*/

/* ==========================================================================
   File upload ver.2
   ========================================================================== */

.file-upload {
    overflow: hidden;
}

.file-upload .form-upload {
	cursor: pointer;
	height: 44px;
	cursor: text;
}

.file-upload .input-upload-btn {
	background: #48cbe8 url("../img/upload-icon.png") no-repeat scroll 10px 9px;
	width: 50px;
	height: 44px;
	position: absolute;
	right: 0px;
	cursor: pointer;
	border-radius: 0 3px 3px 0;
}

.file-upload .hidden-input-file {
    position: absolute;
    top: 0;
    height: 44px;
	width: 50px;
	cursor: pointer;
    opacity: 0;
    /* opacity for IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.file-upload .input-wrap {
	position: relative;
}
