/* ==========================================================================
   Feedback page styles
   ========================================================================== */

.feedback-title {
	margin: 0;
	padding: 30px;
	color: #fff;
	border-radius: 5px 5px 0 0;
	text-align: center;
	font-weight: normal;
	background-color: #48cbe8;
	border-bottom: 16px solid #51daf8;
}

.wrapper {
	margin: 30px auto;
}

.feedback {
	width: 90%;
	margin: 0 auto;
}

.feedback .form-textarea {
	width: 100%;
	height: 150px;
}

.feedback .form-name {
	width: 48%;
}

.feedback .wrap-form-element,
.feedback .wrap-message {
	margin-bottom: 20px;
}

.feedback .wrap-captcha {
	margin-bottom: 20px;
}

.feedback .form-captcha {
	width: 48%;
	display: inline-block;
	vertical-align: top;
}

.feedback .captcha-img {
	margin: 16px auto;
	display: inline-block;
	width: 48%;
	text-align: center;
}
