/* ==========================================================================
   Login page styles
   ========================================================================== */
.loginpage {
    width: 590px;
    padding: 8% 0px 0px;
    margin: auto;
    margin-bottom: 100px;
}

.loginblock {
    position: relative;
    margin-top: 20px;
    margin-left: 0px;
    padding-bottom: 1px;
    font-weight: 400;
    background-color: #eff3f7;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(64, 64, 64, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(64, 64, 64, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(64, 64, 64, 0.75);
}

.login-title {
    margin: 0;
    padding: 30px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    background-color: #48cbe8;
    border-bottom: 16px solid #51daf8;
}

.login-form {
    width: 90%;
    margin: 30px auto 0;
}

.wrap-submit-button {
    text-align: center;
    margin: 30px auto;
}

.label-title {
    display: block;
    text-align: center;
    font-size: 2em;
    margin: 10px auto 0px;
}

.login-menu {
    list-style-type: none;
    line-height: 2em;
    padding: 0 40px;
}

.login-menu-item {}
