/* ==========================================================================
   Color guide
   ==========================================================================
#3ba8c0 - links, borders, active elements
#959aa8 - hover links
#fbfcfd - page background
#58697a - text color
#eff3f7 - header, footer, article & menu bg, login block bg
#fff    - links & text on active elements
#3ba8c0 - contacts title bg
#41b9d4 - contacts email bg
#48cbe8 - contacts phone bg, feedback page title
#51daf8 - contacts skype bg, feedback page title border
#edf8fc - add project bg
#f97e76 - error tooltips bg
   */


/* ==========================================================================
   Common styles
   ========================================================================== */
html,
body {
    height: 100%;
}

.browserupgrade {
    text-align: center;
    padding: 10px 0px;
    background-color: #ffa;
    width: 100%;
}

a,
a:visited {
    color: #3ba8c0;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

.maincontainer {
    min-height: 100%;
}

.fullpage {
    font-family: 'fira_sansregular', sans-serif;
    background: #fbfcfd url(../img/comppattern2.png) repeat;
    color: #58697a;
}

.page {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 100px;
    overflow:auto;
    padding-bottom: 80px;  /* must be same height as the footer */
}

.flr {
    float: right;
}

.fll {
    float: left;
}

.bold {
    font-weight: bold;
}

/* ==========================================================================
   Footer smart sticky
   ========================================================================== */
/* also check the padding-bottom value in .page - it must be height of footer */
.fullfooter {
    background-color: #eff3f7;
    height: 80px;
    margin-top: -80px; /* negative value of footer height */
    position: relative;
    clear:both;
}
/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}
/* sticky end */
.mainfooter {
    max-width: 1200px;
    min-width: 960px;
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
}

.login {
    display: inline-block;
    position: absolute;
    left: 160px;
    top: 24px;
    text-indent: -9999px;
}

.copyright {
    margin: 0 auto;
    padding: 0;
    min-width: 500px;
    max-width: 800px;
    text-align: center;
}

.sprite-sys {
    background-image: url(../img/sprites-sys.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-lock-locked {
    width: 20px;
    height: 32px;
    background-position: -89px -39px;
}

.sprite-lock-locked:hover,
.sprite-lock-locked:active {
    width: 20px;
    height: 32px;
    background-position: -119px -39px;
}


/* ==========================================================================
   Header
   ========================================================================== */

.fullheader {
    background-color: #eff3f7;
    height: 100%;
    margin-bottom: 30px;
}

.mainheader {
    max-width: 1200px;
    min-width: 960px;
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
    height: 86px;
}

.logo {
    display: inline-block;
    position: absolute;
    left: 0;
    height: 43px;
    width:243px;
}

.social {
    display: inline-block;
    position: absolute;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 260px;
}

.social-item {
    display: inline-block;
    width: 64px;
}


/* ==========================================================================
   Social icons in sprite
   ========================================================================== */

.sprite-soc {
    background-image: url(../img/sprites-social.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 12px;
    text-indent: -9999px;
}

.sprite-social-fb {
    width: 48px;
    height: 48px;
    background-position: -4px -4px;
}

.sprite-social-fb:hover,
.sprite-social-fb:active {
    width: 48px;
    height: 48px;
    background-position: -61px -4px;
}

.sprite-social-github {
    width: 48px;
    height: 48px;
    background-position: -4px -62px;
}

.sprite-social-github:hover,
.sprite-social-github:active {
    width: 48px;
    height: 48px;
    background-position: -61px -62px;
}

.sprite-social-tw {
    width: 48px;
    height: 48px;
    background-position: -119px -4px;
}

.sprite-social-tw:hover,
.sprite-social-tw:active {
    width: 48px;
    height: 48px;
    background-position: -119px -61px;
}

.sprite-social-vk {
    width: 48px;
    height: 48px;
    background-position: -4px -119px;
}

.sprite-social-vk:hover,
.sprite-social-vk:active {
    width: 48px;
    height: 48px;
    background-position: -61px -119px;
}


/* ==========================================================================
   Gradient stripe http://colorzilla.com/gradient-editor/#eff3f7+0,1f687c+46,1f687c+53,eff3f7+100
   ========================================================================== */

.hr-gradient {
    height: 3px;
    background: #3ba8c0;
    /* Old browsers */
    background: -moz-linear-gradient(left, #eff3f7 0%, #1f687c 46%, #1f687c 53%, #eff3f7 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #eff3f7), color-stop(46%, #1f687c), color-stop(53%, #1f687c), color-stop(100%, #eff3f7));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #eff3f7 0%, #1f687c 46%, #1f687c 53%, #eff3f7 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #eff3f7 0%, #1f687c 46%, #1f687c 53%, #eff3f7 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #eff3f7 0%, #1f687c 46%, #1f687c 53%, #eff3f7 100%);
    /* IE10+ */
    background: linear-gradient(to right, #eff3f7 0%, #1f687c 46%, #1f687c 53%, #eff3f7 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#eff3f7', endColorstr='#eff3f7', GradientType=1);
    /* IE6-9 */
}


/* ==========================================================================
   Main content
   ========================================================================== */

.content {
    width: 650px;
}

.article {
    background-color: #eff3f7;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}

.article-title {
    display: inline-block;
    padding: 5px 36px;
    margin: 0 0 15px 0;
    font-size: 1.8em;
    font-weight: bold;
    border-bottom: 2px solid #3ba8c0;
}


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
    width: 250px;
    position: relative;
    font-size: 1.2em;
}


/* ==========================================================================
   Menu
   ========================================================================== */
.sidemenu {
    list-style: none;
    background-color: #eff3f7;
    border-radius: 5px;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1.1em;
}

.sidemenu-item {
}

.sidemenu-link {
    color: #959aa8 !important;
    text-decoration: none;
}

.sidemenu-link:hover,
.sidemenu-link:active {
    color: #3ba8c0 !important;
    text-decoration: none;
}

.sidemenu-block {
    border-top: 2px solid #3ba8c0;
    padding: 25px 5px 20px 12px;
    margin: 0 20px;
    white-space: nowrap;
}

.sidemenu-item:first-child .sidemenu-block {
    border-top: none;
}

.sidemenu .active {
    background-color: #3ba8c0;
    color: #fff !important;
    display: block;
    margin-bottom: -2px;
    padding-top: 2px;
}

/* поднять на 2px текст меню для активного блока */
.sidemenu .active .sidemenu-block {
    padding: 23px 5px 22px 12px;
}

/* хак для IE8, в котором margin:1px = padding:2px; для первого чайлда */
.sidemenu-item:first-child .active .sidemenu-block {
    padding-top: 22px\0/;
}

/* ==========================================================================
   Contacts
   ========================================================================== */
.contacts {
    list-style-type: none;
    background-color: #3ba8c0;
    border-radius: 5px;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1.1em;
    font-style: normal;
}
.contacts-item {}

.contacts-link {}

.contacts-link:hover,
.contacts-link:active {
    color: #fff;
    text-decoration: underline;
}

.contacts-block {
    color: #fff;
    font-size: 0.9em;
    padding-top: 12px;
    padding-bottom: 12px;
}

.contacts .title {
    padding-left: 25px;
}

.icon-email {
    padding-left: 65px;
    background: #41b9d4 url(../img/contacts-mail.png) no-repeat 25px 10px;
}

.icon-phone {
    padding-left: 65px;
    background: #48cbe8 url(../img/contacts-phone.png) no-repeat 25px 10px;
}

.icon-skype {
    padding-left: 65px;
    background: #51daf8 url(../img/contacts-skype.png) no-repeat 25px 10px;
}

/* ==========================================================================
   Неиспользуемые (пока) элементы
   ========================================================================== */

.sprite-close {
    width: 25px;
    height: 25px;
    background-position: -5px -5px;
}

.sprite-download {
    width: 32px;
    height: 24px;
    background-position: -82px -5px;
}


/* ==========================================================================
   Micro clearfix hack by Nicolas Gallagher
   ========================================================================== */


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    *zoom: 1;
}
