/* ==========================================================================
   MyWorks page styles
   ========================================================================== */

.container {
	margin: 15px auto 30px;
}

.works-item {
	width: 181px;
	margin: 0 16px 30px;
	display: inline-block;
	text-align: center;
	position: relative;
	vertical-align: top;
}

.works-item .works-preview {
	z-index: 1000;
	position: relative;
	margin-bottom: 5px;
	border: 2px solid #3ba8c0;
	border-radius: 5px;
	display: inline-block;
	overflow: hidden;
	width: 179px;
	height: 125px;
	vertical-align: top;
}

.works-item .works-img {
	display: block;
	height: auto;
	max-width: 100%;
}

.works-item .caption {
	line-height: 1.2;
	font-size: .9em;
}

.works-item .hoverfx {
	z-index: 1002;
	background: #3ba8c0;
	transition: all 0.2s ease-in-out 0s;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /*IE8 fix*/
	color: white;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.works-item .hoverfx:hover,
.works-item .hoverfx:active {
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; /*IE8 fix*/
}

/*.ie8 .hoverfx {
	display: none;
}
*/
.works-item .hoverfx-inside {
	margin: 44px auto 0;
	padding: 4px;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #f9fafb;
	color: #f9fafb;
	opacity: 1;
}

.works-item .add-project {
	display: table-cell;
	vertical-align: middle;
	border: 2px dashed #3ba8c0;
	background-color: #edf8fc;
}

.works-item.add-project .works-preview {
	border: 2px dashed #3ba8c0;
}

.works-item.add-project .add-link {
	display: inline-block;
	width: 179px;
	height: 125px;
	padding-top: 70px;
}

.icon-addproject {
	background: url(../img/add-project.png) no-repeat 75px 34px;
}
