.container {
	margin: 0 auto;
}
.gallery {
	list-style: none;
	margin: 20px 0 0;
	padding: 0;
}
.gallery-item {
	width: 28.66%;
	margin: 2%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.preview {
	margin-bottom: 5px;
	border: 2px solid #3ba8c0;
	border-radius: 5px;
	display: inline-block;
	overflow: hidden;
	width: 186px;
	height: 124px;
	vertical-align: top;
}
/*	position: absolute;
    top: 30px;
    right: 74px;
*/
.add-project {
	display: table-cell;
	vertical-align: middle;
}
.site-name {
	font-size: smaller;
	font-style: italic;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
.desc {
	font-size: small;
	margin: 0;
}
.new {

}
.new .preview {
	width: 181px;
	height: 127px;
	border: 2px dashed #3ba8c0;
	background-color: #edf8fc;
}
